<nav class="navbar people">
  <div class="navbar-inner">
    <a class="brand" href="#">People</a>

		<form class="navbar-form pull-left">
		  <input type="text" class="span2 search" id="search" placeholder="search&rarr;"/>
		</form>

    <ul class="nav nav-pills">
      <li class="active"><a href="#">All People</a></li>
      <li><a href="#">Filter</a></li>
    </ul>

    <ul class="nav nav-pills pull-right">
      <li><button class="btn btn-success" href="#"><i class="icon-user icon-white"></i> Register</button></li>
    </ul>
  </div>
</nav>

