extends layout

block content

  - if (message)
    p#message=message
  form(action="/login", method="POST")
    #username
      label(for="login") Login
      input(type="text", name="username", value="username")
    #password
      label(for="password") Password
      input(type="password", name="password")
    #submit
      input(type="submit") Sign On