extends layout

block content

  h2 Register
  form(action="/register", method="POST")
    #login
      label(for="email") Login
      input(type="text", name="email")
    #password
      label(for="password") Password
      input(type="password", name="password")
    #submit
      input(type="submit") Register