<fieldset>
  {{ include "input" field="firstName" value=firstName width=4 required=true label="people.first_name" }}
  {{ include "input" field="lastName" value=lastName width=4 required=true label="people.last_name" }}
  
  {{ include "select" field="gender" value=gender width="150px" options="male female" label="people.gender" }}
  {{ include "select" field="title" value=title width="150px" options="mr mrs miss ms dr" label="people.title" }}

  {{ include "input" field="email" value=email width=4 label="people.email" }}
  {{ include "input" field="telephone" value=telephone width=2 label="people.telephone" }}
</fieldset>
