<fieldset>
  <div class="control-group">
    <label for="firstName">{{ t "people.first_name" }}</label>
    <div class="controls">
      <input type="text" id="firstName" name="firstName" class="span4 required" value="{{ firstName }}" data-error-style="inline">
    </div>
  </div>
  <div class="control-group">
    <label for="lastName">{{ t "people.last_name" }}</label>
    <div class="controls">
      <input type="text" id="lastName" name="lastName" class="span4 required" value="{{ lastName }}" data-error-style="inline">
    </div>
  </div>
</fieldset>
