<article class="list">
	<img src="/img/photos/emma.jpg" />

	<div class="info">
	    <div class="heading">
	        <strong>{{ firstName }} {{ lastName }}</strong>
	        <span class="info">emmawatson</span>
	        <span class="info">Hogwarts</span>
	    </div>

	    <div class="detail">
	        <span class="email"><a href="mailto:emma@watson.com">emma@watson.com</a></span>
	        <span class="phone">01896 830894</span>
	    </div>
	</div>

	<ul>
	    <li><a class="select">open&rarr;</a></li>
	</ul>
</article>