<article class="list" data-id="{{ id }}">
	<div class="photo"><img src="/api/people/{{ id }}/photos/thumbnail" data-fallback="/img/noprofile.png" /></div>

	<div class="info">
	    <div class="heading">
	        <strong>{{ firstName }} {{ lastName }}</strong>
	        <span class="info">{{ user.name }}</span>
	        <span class="info">{{ group.name }}</span>
	    </div>

	    <div class="detail">
	        <span class="email"><a href="mailto:emma@watson.com">emma@watson.com</a></span>
	        <span class="phone">01896 830894</span>
	    </div>
	</div>

	<ul>
	    <li><a class="select">open&rarr;</a></li>
	</ul>
</article>