<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" data-page="info" href="#people/{{ id }}">{{ firstName }}</a>
    <ul class="nav">
      <li><a data-page="info" href="#people/{{ id }}">{{ t "people.info" }}</a></li>
      <li><a data-page="photos" href="#people/{{ id }}/photos">{{ t "photos.photos" }}</a></li>
      <li><a data-page="documents" href="#people/{{ id }}/documents">{{ t "documents.documents" }}</a></li>
      <li><a data-page="account" href="#people/{{ id }}/account">{{ t "people.account" }}</a></li>
      <li><a data-page="permissions" href="#people/{{ id }}/permissions">{{ t "people.permissions" }}</a></li>
    </ul>
    <ul class="nav pull-right action">
      <li><a data-page="new" href="#people/{{ id }}/photos/new">{{ t "photos.upload" }}</a></li>
    </ul>
  </div>
</div>
