<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="#">{{ firstName }}</a>
    <ul class="nav">
      <li class="active"><a href="#people/{{ id }}">{{ t "people.info" }}</a></li>
      <li><a href="#people/{{ id }}/photos">{{ t "people.photos" }}</a></li>
      <li><a href="#people/{{ id }}/documents">{{ t "people.documents" }}</a></li>
    </ul>
    <ul class="nav pull-right action">
      <li><a href="#people/{{ id }}/photos/new">{{ t "people.upload_photo" }}</a></li>
    </ul>
  </div>
</div>
