<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Emma</a>
    <ul class="nav">
      <li class="active"><a href="#">Info</a></li>
      <li><a href="#">Photos</a></li>
      <li><a href="#">Documents</a></li>
    </ul>
    <ul class="nav pull-right action">
      <li><a href="#">Upload Photo</a></li>
    </ul>
  </div>
</div>

<div class="inner">
  <div class="alert alert-info fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <i class="icon-info-sign"></i><strong> Nice one</strong>, you done good.
  </div>

  <div class="alert fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <i class="icon-exclamation-sign"></i><strong> Unfortunately</strong>, there seems to be an issue.
  </div>

  <div class="alert alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <i class="icon-ban-circle"></i><strong> Houston</strong>, we have a problem.
  </div>
</div>