<nav class="navbar navbar-inverse navbar-fixed-top primary">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><span class="logo">Proof</span></a>
      <div class="nav-collapse">

        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/administration">Administration</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/support">Support</a></li>
        </ul>
        
        <div id="authentication" class="pull-right navbar-text">
        </div>

      </div>
    </div>
  </div>
</nav>
