<nav class="navbar navbar-inverse navbar-fixed-top primary">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><span class="logo">{{ t "main.title" }}</span></a>
      <div class="nav-collapse">

        <ul class="nav">
          <li class="active"><a href="/">{{ t "main.home" }}</a></li>
          <li><a href="/people">{{ t "main.people" }}</a></li>
          <li><a href="/administration">{{ t "main.administration" }}</a></li>
          <li><a href="/about">{{ t "main.about" }}</a></li>
          <li><a href="/support">{{ t "main.support" }}</a></li>
        </ul>
        
        <div id="authentication" class="pull-right navbar-text">
        </div>

      </div>
    </div>
  </div>
</nav>
