<nav class="navbar navbar-inverse navbar-fixed-top primary">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><span class="logo">Proof</span></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/administration">Administration</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/support">Support</a></li>
        </ul>
        
      	<ul class="pull-right profile navbar-text">
      		<li>Signed in as <a href="/profile">recipher</a></li>
        	<li><a href="/switch">switch account</a>
        	<li><a href="/signout">sign out</a>
        </ul>
      
      </div>
    </div>
  </div>
</nav>
