<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Sign On <small>Please enter your security credentials below &rarr;</small></h3>
</div>

<div class="modal-body">
	<form>
	  <fieldset>
			<span class="input-append">
	    	<input type="text" placeholder="Username or email address" name="username" id="username">
  			<span class="add-on"><i class="icon-user"></i></span>
			</span>
			<span class="input-append" style="margin-left: 10px">
    		<input type="password" placeholder="Password" name="password" id="password">
  			<span class="add-on"><i class="icon-lock"></i></span>
			</span>
	  </fieldset>	
	</form>

	<div class="alert alert-error hide"></div>

  <div>
  	<button class="btn btn-primary" id="facebook"><i class="icon-facebook icon-white"></i>&nbsp;&nbsp;Facebook</button>
  	<button class="btn btn-info" id="twitter"><i class="icon-twitter icon-white"></i>&nbsp;&nbsp;Twitter</button>
  </div>
</div>

<div class="modal-footer" style="text-align: left">
  <button class="btn btn-success btn-large" id="signon"><i class="icon-lock icon-white"></i>&nbsp;&nbsp;Sign On</button>
  <button class="btn btn-link" data-dismiss="modal" aria-hidden="true">cancel</button>
</div>
