html,
body
  height 100%

.sidebar-nav 
  padding 9px 0

.logo
  background transparent url("img/logo.png") no-repeat 0 0
  padding-left 28px

#wrap
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -60px

.top
  padding-top 60px

#push,
footer
  height 60px

footer
  background-color #f5f5f5
  border-top 1px solid #ccc

  p
    padding 20px 0 0 20px

  a.locale
    float right
    padding 1px 0px 0 10px 

  a.locale.selected
    color #900
    text-decoration underline

.modal-backdrop, .modal-backdrop.fade.in
  opacity(0.6)

input.search
  border-radius(3px)
  opacity(0.7)
  box-shadow(0.5)
  outline none
  border 0
  background #fff url("img/magnifier.png") no-repeat 8px center
  font-weight normal
  padding 4px 10px 4px 30px
  margin-right 10px
  width 250px

input.search:focus, input.search:hover
  opacity(1)
  color #006

input.search.searching
  background #fff url("img/loading.gif") no-repeat 8px center

.navbar.people 
  .navbar-inner
    padding-left 15px
    padding-right 7px
  .nav
    li
      a
        margin 6px 
        padding 7px

    li.active
      a
        box-shadow(none)

ul.authentication
  padding-top 10px
  list-style none

  li
    float left
    padding-left 10px

    a
      color #c00
    a:hover
      color #fff

.image
    box-sizing(border-box)
    border-radius(8px)
    
    background #fff
    padding 4px
    margin 10px 4px 10px 0         
  
  img
    box-sizing(border-box)
    border-radius(6px)
    border 1px solid #eee

@media (max-width: 767px)
  footer
    margin-left -20px
    margin-right -20px
    padding-left 20px
    padding-right 20px

item()
  border-radius(5px)
  box-sizing(border-box)
  position relative
  margin-bottom 10px
  border 1px solid transparent

  div.info
    padding 10px 66px
  
  div.no-photo
    padding-left 0
    
  .thumbnail
    float left
    margin 8px
    overflow hidden
    position relative
    height 42px
    width 42px
  
    img
      position absolute
      top 0
      left 0
    
  div.heading
    margin-bottom 5px
  
  div.detail
    font-size 0.9em
  
  a
    color #333
    text-decoration none
  a:hover
    color #c00
  strong
    color #006
    padding-right 10px
    font-weight normal
  em
    background-color #ffc
    border 1px solid #c96
  span
    margin-right 10px
  span.info
    color #c00
    font-size 0.9em

  ul
    position absolute
    top 22px
    right 20px
    display none
    font-size 0.9em

    li
      display inline
      padding-left 5px
      border-left 1px solid #ddd
    li:nth-child(1)
      border-left-color transparent
    a
      color #900

article.item
  item()

  border 1px solid #ddd
  background #ffe

article.list
  item()
  opacity(0.7)

article.list:hover
  border 1px solid #ddd
  background #ffe
  cursor pointer
  opacity(1)

  ul
    display inline

