<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3><small><i class="icon-lock"></i></small>&nbsp;{{ t "security.signon" }} <small>{{ t "security.enter_credentials" }} &rarr;</small></h3>
</div>

<div class="modal-body">
	<form>
	  <fieldset>
      <label for="code">{{ t "security.organisation_code" }}</label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-globe"></i></span>
        <input type="text" name="code" id="code" class="span2">
      </div>
      <label for="name">{{ t "security.user_or_email" }}</label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <input type="text" name="name" id="name" class="span4">
      </div>
      <label for="password">{{ t "security.password" }}</label>
			<div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
    		<input type="password" name="password" id="password" class="span4">
			</div>
	  </fieldset>	
	</form>

	<div class="alert alert-error hide"></div>

  <div>
  	<button class="btn btn-primary" id="facebook"><i class="icon-facebook icon-white"></i>&nbsp;&nbsp;Facebook</button>
  	<button class="btn btn-info" id="twitter"><i class="icon-twitter icon-white"></i>&nbsp;&nbsp;Twitter</button>
  </div>
</div>

<div class="modal-footer" style="text-align: left">
  <button class="btn btn-success" id="signon"><i class="icon-lock icon-white" data-loading-text="{{ t "security.signing_on" }}..."></i>&nbsp;&nbsp;{{ t "security.signon" }} &rarr;</button>
  <button class="btn btn-link" data-dismiss="modal" aria-hidden="true">{{ t "general.cancel" "lower" }}</button>
</div>
