<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" data-page="info" href="#people/{{ id }}">{{ code }}</a>
    <ul class="nav">
      <li><a data-page="info" href="#administration/organisations/{{ id }}">{{ t "organisations.info" }}</a></li>
      <li><a data-page="photos" href="#administration/organisations/{{ id }}/photos">{{ t "photos.photos" }}</a></li>
      <li><a data-page="documents" href="#administration/organisations/{{ id }}/documents">{{ t "documents.documents" }}</a></li>
      <li><a data-page="security" href="#administration/organisations/{{ id }}/security">{{ t "organisations.security" }}</a></li>
    </ul>
    <ul class="nav pull-right action">
      <li><a data-page="role" href="#administration/organisations/{{ id }}/role/add">{{ t "organisations.add_role" }}</a></li>
    </ul>
  </div>
</div>
